<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /letraai/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /letraai/index.html [L]
</IfModule>